@font-face {
    font-family: "Operator";
    src: url("../fonts/operator/OperatorRegular.otf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Operator";
    src: url("../fonts/operator/OperatorItalic.otf");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Operator";
    src: url("../fonts/operator/OperatorBold.otf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Operator";
    src: url("../fonts/operator/OperatorBoldItalic.otf");
    font-weight: 700;
    font-style: italic;
}
